nav{
    background-color: rgb(0, 0, 0);
    padding: 20px 40px;
}
 button{
    background-color: rgb(196, 17, 17);
    padding: 10px 20px;
    border: none;
    color: white;
    border-radius: 12px;
    font-weight: 700;
    cursor: pointer;
 }
 button:hover{
    background-color: rgb(112, 4, 4);
 }

 .back-btn{
    background-color: black;
    color: white;
 }

 .container{
    display: flex;
    padding: 10px;
    gap: 100px;
 }


